header.main {
  background-color:#dddddd;
  height:250px;
  margin:0;
}

.logo {
  float:right;
  position:absolute;
  right:30px;
  top:20px;
}

.swatch {
  height:50px;
  width: 100px;
  display: inline-block;
  text-align: center;
}
.swatch:first-of-type {
  background-color:#254fa5;
  color:#f5f3e7;
}
.swatch:nth-of-type(2){
  background-color:#ce2f31;
  color:#f5f3e7;
}
.swatch:nth-of-type(3){
  background-color:#dddddd;
}
.swatch:nth-of-type(4){
  border:1px solid black;
}
